.shapeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* 50px / 16px = 3.125rem */
  height: 2.5rem; /* 50px / 16px = 3.125rem */
  border: 0.0625rem solid #ccc; /* 1px / 16px = 0.0625rem */
  border-radius: 0.25rem; /* 4px / 16px = 0.25rem */
  cursor: pointer;
}

.header {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.shapeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.shapeColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
