.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.updown {
  display: flex;
  gap: 1.5rem;
  color: white;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.name {
  font-weight: 700;
  font-size: 2rem;
  color: white;
}
.image {
  width: 4rem;
}

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.connect {
  height: 2.3rem !important;
  font-size: 0.8rem !important;
  min-width: unset !important;
  padding: 0.4rem !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border-radius: 0.1rem !important;
  border-style: none !important;
}
.connect div img {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.connect div {
  gap: 0 !important;
}

.connect div span {
  color: white !important;
}

@media only screen and (max-width: 600px) {
  .name {
    font-weight: 700;
    font-size: 15px;
    color: white;
  }
  .image {
    width: 3rem;
  }
  .updown {
    margin-top: 0.5rem;
    gap: 0.1rem;
  }
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
