.header {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.layersDiv {
  width: 5rem;
  border-style: solid;
  border-radius: 0.2rem;
  border-color: gray;
  border-width: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.activeLayer {
  background: linear-gradient(to bottom, #93d7af, #8bc3a4);
}
.layersParrent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.layerRow {
  display: flex;
  gap: 0.2rem;
}
.mainRow {
  margin-bottom: 1rem;
}
.layerRow2 {
  font-size: 0.8rem;
}
